    #title {
        margin: 0;
        padding: 20px;
        background-color: cadetblue;
        display: block;
        text-align: center;
        font-size: 3em;
        font-family:times;
        align-items: center;
        color: white;
    }
    
    #game-container, #dice-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        font-family:times;
    }

    #dice1, #dice2 {
      width: 100px;
      height: 100px;
      border: 2px solid black;
      border-radius: 15px;
      text-align: center;
      line-height: 100px;
      font-size: 2em;
      margin-left: 20px;
      margin-right: 20px;
      font-family:times;
    }

    #roll-button, #reset-button {
      padding: 10px 20px;
      font-size: 1em;
      margin-top: 20px;
      border: none;
      border-radius: 5px;
      font-family:times;
      background-color: cadetblue;
      color: white;
    }

    #roll-button:hover, #reset-button:hover {
      background-color: #397f8b;
      cursor: pointer;
      font-family:times;
    }

    #roll-button:active, #reset-button:active {
      background-color: #448c9e;
      font-family:times;
    }

    #roll-button {
      font-family:times;
    }